cupshelpers==1.0
docopt==0.6.2
keepassc==1.7.0
kppy==1.4.2
pycrypto==2.6.1
pycups==1.9.72
pycurl==7.19.5.1
pygobject==3.16.1
pyxdg==0.25
PyYAML==3.11
requests==2.6.2
team==1.0
udiskie==1.1.3
virtualenv==12.1.1
youtube-dl==2015.4.26
